// Font Families
$georgia:      'Georgia', Cambria, Times, serif;
$ptsans:       'PT Sans', sans-serif;
$ptserif:      'PT Serif', serif;
$verdana:      'Verdana', Geneva, Arial, sans-serif;

// Colour Palette
$dark-grey:    #222;
$grey:         #444;
$medium-grey:  #666;
$light-grey:   #888;
$light-bg:     white;
$dark-bg:      $medium-grey;
$pink: #CF649A;
$dark-pink: #d03181;

// Base Font
$base-font-family: $georgia;
$base-font-weight: normal;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size:   85%;
$fixed-line-height: $typl8-line-height;

// Headings
$header-font-family: $verdana;
$header-font-weight: bold;

// Hamburger
$hambgcolor: $pink;
$hambasewidth: 22px;
$hamsizemultiplier: 1.5;

// Viewport Sizes
$mobile:  480px;
$tablet:  768px;
$desktop: 1024px;

// Header
$header-width:  100%;
$header-height: 64.5px;
