// Font Families
$georgia:      'Georgia', Cambria, Times, serif;
$verdana:      'Verdana', Geneva, Arial, sans-serif;
$monospace:    'Courier New', Courier, monospace;

// Colour Palette
$palette: (
	grey: (
		base:  #444,
		light: #666,
		x-light: #f1f1f1,
		xx-light: #fafafa,
		dark:  #222,
	),

	pink: (
		base:  #CF649A,
		dark:  #d03181,
	)
);

// Base Map
$font: (
	family:     $georgia,
	size:       131.25%,
	weight:     400,
);

$font-headings: (
	family:     $georgia,
	weight:     700,
);

$font-fixed: (
	family:      $monospace,
	size:        85%,
	line-height: $typl8-line-height,
);

// Hamburger
$hambgcolor:        setcolor(pink);
$hambasewidth:      22px;
$hamsizemultiplier: 1.5;

// Breakpoints
$mobile:            480px;
$tablet:            768px;
$desktop:           1024px;
