// headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: map-get($font-headings, family);
	font-weight: map-get($font-headings, weight);
}

a {
	color: $hambgcolor;
	text-decoration: none;
	-webkit-transition: color .3s linear;
	-moz-transition: color .3s linear;
	transition: color .3s linear;

	&:hover {
		color: setcolor(pink, dark);
		text-decoration: underline;
	}
}

p {
	margin-bottom: 2.5rem;
}

abbr {
	color: setcolor(pink);
}

pre {
	background-color: setcolor(grey, x-light);
}

blockquote {
	font-family: map-get($font, family);
	font-size: 1.1rem;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	border-left: 4px solid setcolor(pink);

	p {
		margin-bottom: 0;
	}

	footer {

		&:before {
			content: "\2014";
			color: setcolor(pink);
		}
	}
}

.lead {
	line-height: $typl8-line-height;
	margin-bottom: 2.5rem;
}
