// headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font-family;
}

a {
	color: $hambgcolor;
	text-decoration: none;
	-webkit-transition: color .3s linear;
	-moz-transition: color .3s linear;
	transition: color .3s linear;

	&:hover {
		color: $dark-pink;
		text-decoration: underline;
	}
}

p {
	margin-bottom: 2.5rem;
}

abbr {
	color: $hambgcolor;
}

blockquote {
	font-family: $georgia;
	color: $medium-grey;
	padding-left: 20px;
	border-left: 4px solid $hambgcolor;
}

.lead {
	line-height: $typl8-line-height;
	margin-bottom: 2.5rem;
}
