*, *:before, *:after {
	box-sizing: border-box;
}

body, input, textarea, select, button {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: $base-font-family;
	background-color: $light-bg;
}
