// Font Families
$georgia:      'Georgia', Cambria, Times, serif;
$opensans:     'Open Sans', Tahoma, sans-serif;
$opensanscd:   'Open Sans Condensed', sans-serif;
$ptserif:      'PT Serif', serif;
$ptsans:       'PT Sans', sans-serif;
$verdana:      'Verdana', Geneva, Arial, sans-serif;
$montserrat:   'Montserrat', sans-serif;
$merriweather: 'Merriweather', serif;

// Font weights
$light:     100;
$normal:    400;
$bold:      700;

// Font sizes
$extra-small-font: 12px;
$small-font:       14px;
$medium-font:      17px;
$large-font:       20px;
$extra-large-font: 24px;

// Base Font
$base-font-family: $ptserif;
$base-font-weight: $normal;
$base-font-size:   $medium-font;
$base-line-height: 1.618;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size:   85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-family: $ptsans;
$header-font-weight: $bold;

// Colour Palette
$darker-grey: #333;
$dark-grey:   #444;
$light-grey:  #666;
