// Font weights
$light:     100;
$normal:    400;
$bold:      700;

// Font Families
$georgia:  'Georgia', Cambria, Times, serif;
$opensans: 'Open Sans', Tahoma, sans-serif;
$ptserif:  'PT Serif', serif;
$verdana:  'Verdana', Geneva, Arial, sans-serif;
$montserrat: 'Montserrat', sans-serif;
$merriweather: 'Merriweather', serif;

// Base Font
$base-font-family: $opensans;
$base-font-weight: $normal;
$base-font-size:   17px;
$base-line-height: 1.618;

// Font sizes
$extra-small-font: 12px;
$small-font:       14px;
$medium-font:      16px;
$large-font:       18px;
$extra-large-font: 20px;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size:   85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-family: $montserrat;
$header-font-weight: $bold;

// Colour Palette
$darker-grey: #333;
$dark-grey:   #444;
$light-grey:  #666;
